@{
    ViewData["Title"] = "ProductCategoryDetail";
}

<h1>Producto XXXXXX XXXXXX XXXXXXXX</h1>

<div class="row mt-5">


    <div class="col-md-4">
        <img class="card-img-top" src="../../images/laptop.jpg" alt="Card image cap">
    </div>

    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">

                <p>
                    <i class="fa-solid fa-money-bill-1 text-success" style="font-size:50px;"></i>
                    <span class="text-success" style="font-size:70px;">100.00</span>
                </p>


                <p>
                    <b>Description:</b> Lorem upsom Lorem upsom Lorem upsomLorem upsomLorem upsomLorem upsom
                    Lorem upsomLorem upsomLorem upsomLorem upsom Lorem upsom Lorem upsomLorem upsom
                </p>

                <p>
                    <b>Proveedor:</b>
                    Proveedor SAC <i class="fa-solid fa-car text-warning "></i>
                </p>

                <button class="btn btn-primary"><i class="fa-solid fa-cart-plus"></i> Añadir al carrito</button>

                <button class="btn btn-secondary"> Volver</button>

                <p>
                    <b>Caracteristicas:</b>
                    <ul>
                        <li>Caracteristica 1</li>
                        <li>Caracteristica 2</li>
                        <li>Caracteristica 3</li>
                        <li>Caracteristica 4</li>
                        <li>Caracteristica 5</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>


</div>