@{
    ViewData["Title"] = "Catalogo de productos";
}

<h1>MiTienda Online</h1>

<div class="row mt-5">
    @for (int i = 0; i < 20; i++)
    {
        <div class="col-md-3 m-2">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../images/laptop.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Producto XXXXXXX</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary"><i class="fa-solid fa-cart-plus"></i> Añadir</a>
                    <a href="#" class="btn btn-success"><i class="fa-solid fa-magnifying-glass"></i> Detalles</a>
                </div>
            </div>
        </div>
    }
</div>



